#search-bar:focus {
  outline: none;
  border: 1px solid green;
}
.contact-form button {
  background: #2f472f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
footer {
  background: #2f472f;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
.contact-info {
  margin-bottom: 20px;
}
.card-img-top {
  margin-bottom: auto;
  flex-shrink: 0;
}
.card-body {
  word-break: break-all;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
#top-body {
  display: flex;
  margin-top: 30px;
}
#form-contact {
  text-align: center;
  background-color: rgb(138, 185, 226);
  border-radius: 20px;
  margin-bottom: 20px;
}
.card {
  border-color: rgb(16, 193, 78);
  border-width: 2px;
  border-radius: 20px;
  overflow: hidden;
  padding: 15px;
  margin: 20px;
}
.card-footer {
  border-radius: 20px;
  overflow: hidden;
  background-color: green;
  color: white;
  text-align: center;
}
